.inbox
{
    flex: 1;
}
.inbox .item
{
 
    padding: .5rem 0;

    color: #555;
    border-top: 1px solid #ddd;

}
.inbox .item:hover
{
    background: #fafafa;
}
.inbox .item .source
{
    overflow: hidden;

    white-space: pre;
    text-overflow: ellipsis;

    flex: 0 0 120px;
}
.inbox .item .source a
{
    color: #555;
}
.inbox .item .title
{
    flex: 1;
}
.inbox .item .pubdate
{
    font-size: 13px;
}
.inbox .intro
{
    padding: 1rem 2rem;

    color: #666;
    background: #fafafa;
}
.sources-list
{
    margin-right: 1rem;

    border: 1px solid #ccc;
    border-radius: 3px;

    flex: 0 0 300px;
}
.sources-list form
{
    display: flex;
}
.sources-list input
{
    font-size: 14px;
    font-weight: 100;

    padding: .3rem .4rem;

    border: 0;
    border-bottom: 1px solid #ddd;
    border-radius: 3px 0 0 0;

    flex: 1;
}
.sources-list button
{
    padding: 0 .5rem;

    color: #666;
    border: 0;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-radius: 0 3px 0 0;
    background: #eee;
}
.sources-list .source
{
    overflow: hidden;

    max-width: 287px;
    padding: .3rem .4rem;

    text-overflow: ellipsis;

    border-bottom: 1px solid #ddd;
}
.sources-list .source:last-child
{
    border: 0;
}
.sources-list .source .remove
{
    font-weight: bold;

    float: right;

    cursor: pointer;

    color: #989494;
}
.sources-list .source .error
{
    font-size: 12px;

    color: #c00;
}
body
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, Cantarell, 'Oxygen Sans', 'Helvetica Neue', sans-serif;
}
main
{
    display: flex;

    align-items: flex-start;
}
h1 small
{
    font-size: 14px;
    font-weight: 100;
}
a
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
}

.description img {
  display: none;
}
.
